:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #FF0070;
  --text-accent-color: #000028;
  --main-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url('../images/cover-image-dark.png');
    --bg-color: #000028;
    --text-color: #FF0070;
    --text-accent-color: #000028;
    --main-text-color: #F1B2CE;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
  }

  .theme-auto .header__rec-sign {
    display: block;
  }
}

.theme-dark .header__rec-sign {
  display: block;
}
