:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #FF0070;
  --text-accent-color: #000028;
  --main-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
}

.theme-dark .header__rec-sign,
.theme-dark .decorated-zone::before,
.theme-dark .decorated-zone::after {
  display: block;
}