:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --text-accent-color: #353430;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
}

.theme-light .header__rec-sign {
  display: none;
}