/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  background-image: url(/images/cover-image-dark.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: blue;
  font-size: 18px;

  font-family: 'IBM Plex mono', sans-serif;
}

header {
  padding: 20px;
  min-block-size: 768px;
  display: grid;
  grid-template-rows: 1fr 1fr 0.68fr;

}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;

  list-style: none;
}

.header__theme-menu-button {
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;

  background-color: transparent;
  border-color: transparent;
  border-width: 1px;

  padding: 3px 13px;
}

.header__theme-menu-button_active {
  border-color: white;
}

.focus {
  font-size: 157px;
  font-weight: bold;
  line-height: 82.5%;
  text-shadow: 4px 4px pink;
}

.header__title {
  margin-block-start: 27px;
  margin-inline-start: -20px;
}

.header__text {
  max-width: 491px;
  justify-self: end;
  align-self: start;

  line-height: 23.4px;
}

.color-accent {
  background-color: blue;
}

main {
  padding: 60px 20px;
}

main>section:not(:last-child) {
  margin-block-end: 80px;
}

.section__title {
  font-size: 18px;
  font-weight: bold;

  max-inline-size: 315px;
}

.card__title {
  font-size: 18px;
  font-weight: bold;

  margin-block-end: 10px;
}

.card__text {
  line-height: 23.4px;
}

.problems {
  display: grid;
  grid-template-columns: 0.485fr 1fr;
  gap: 20px;

  line-height: 23.4px;

  & .section__title {
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: start;
  }

  & .section__card {
    grid-column: 2;
  }
}

.reasons {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  & .section__title {
    grid-column: 1 / -1;
  }
}

.answers {
  display: grid;
  gap: 20px;
  grid-template-columns: 0.485fr 1fr;
  grid-template-rows: min-content auto;
  align-items: start;

  & .section__title {
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: start;
    min-height: 0;
  }

  & .section__card {
    grid-column: 2;
  }
}

.answers__additional {
  align-self: start;
}

.gallery {
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, auto);

  & .section__title {
    grid-column: 1 / -1;
    grid-row: 1;
    align-self: start;
  }
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__image:nth-child(2) {
  grid-row: 2;
  grid-column: 1 / 3;
}

.gallery__image:nth-child(3) {
  grid-row: 2 / span 2;
  grid-column: 3;
}

.gallery__image:nth-child(4) {
  grid-row: 3 / span 2;
  grid-column: 1;
}

.gallery__image:nth-child(5) {
  grid-row: 3;
  grid-column: 2;
}

.gallery__image:nth-child(6) {
  grid-row: 4;
  grid-column: 2 / span 2;
}

.footer {
  min-block-size: 768px;

  display: flex;
  align-items: center;
  justify-content: center;
}