.page {
  background-image: var(--bg-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-size: var(--text-size);

  color: var(--text-color);

  font-family: var(--main-font-family);
}

.header {
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;

  min-block-size: 100vh;
}

.header__rec-sign {
  position: absolute;
  top: 20px;
  right: 48px;

  text-transform: uppercase;
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -19px;
    transform: translateY(-50%);

    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;

  width: 25px;
  height: 25px;

  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 20px;

  width: 25px;
  height: 25px;

  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;

  list-style: none;
}

.header__theme-menu-button {
  line-height: 18px;
  text-transform: lowercase;

  background-color: transparent;
  border: 1px solid transparent;

  padding: 3px 13px;
  
  transition: .2s;
}

.header__theme-menu-button_active {
  border-color: var(--text-color);
}

.focus {
  /* clamp() функции в variables.css */
  font-size: var(--title-size-desktop);
  font-weight: var(--text-bold);
  line-height: 82.5%;
  text-shadow: 4px 4px var(--accent-color);
  color: var(--title-color);
}

.header__title {
  margin-inline-start: -20px;
}

.header__text {
  max-width: 50%;
  justify-self: end;
  align-self: center;

  color: var(--text-accent-color);
  font-weight: var(--text-bold);
  line-height: 23.4px;
}

.color-accent {
  background-color: var(--accent-color);
}

.main {
  padding: 60px 20px;
}

.main>.content-section:not(:last-child) {
  margin-block-end: 80px;
}

.content-section {
  line-height: 23.4px;
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: var(--text-size);
  color: var(--text-color);

  max-inline-size: 315px;
}

.card__title {
  font-size: var(--text-size);
  color: var(--text-accent-color);
}

.section__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--main-text-color);
}

.problems,
.answers {
  font-size: var(--text-size);
  grid-template-columns: 1fr 2.06fr;

  & .section__title {
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: start;
  }

  & .section__card {
    grid-column: 2;
  }
}

.reasons {
  grid-template-columns: repeat(3, 1fr);

  & .section__title {
    grid-column: 1 / -1;
  }
}

.answers {
  grid-template-rows: min-content auto;

  & .card__title {
    font-weight: 400;
  }
}

.answers__additional {
  font-size: var(--text-size);
  font-weight: var(--text-bold);
  color: var(--text-accent-color);
}

.link {
  text-decoration: none;
  position: relative;
  text-shadow: 2px 2px var(--accent-color);
}

.gallery {
  grid-template-columns: repeat(3, auto);

  & .section__title {
    grid-column: 1 / -1;
    grid-row: 1;
    align-self: start;
    max-inline-size: initial;

    color: var(--text-accent-color);
  }
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__image:nth-child(2) {
  grid-row: 2;
  grid-column: 1 / 3;
}

.gallery__image:nth-child(3) {
  grid-row: 2 / span 2;
  grid-column: 3;
}

.gallery__image:nth-child(4) {
  grid-row: 3 / span 2;
  grid-column: 1;
}

.gallery__image:nth-child(5) {
  grid-row: 3;
  grid-column: 2;
}

.gallery__image:nth-child(6) {
  grid-row: 4;
  grid-column: 2 / span 2;
}

.footer {
  padding: 20px;
  min-block-size: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Я короче переделал вообще медиазапросы,
 там текст банально не вмещается,
  из-за этого всё съезжает и липнет к краям,
  вроде как это вы и имели ввиду */

@media (width < 1024px) {
  .header__theme-menu {
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .section__title {
    max-inline-size: 236px;
  }

  .problems,
  .answers {
    grid-template-columns: 1fr 2fr;
  }

  .reasons {
    grid-template-columns: 1fr;
  }
}

@media (width < 768px) {
  .header {
    padding: 10px;
  }

  .header__rec-sign {
    top: 10px;
    right: 38px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .header__title {
    margin-inline-start: inherit;
  }

  .focus {
    /* clamp() функции в variables.css */
    font-size: var(--title-size-mobile);
  }

  .header__text {
    justify-self: center;
    min-inline-size: 100%;
  }

  .main {
    padding: 40px 10px;
  }

  .main>.content-section:not(:last-child) {
    margin-block-end: 50px;
  }

  .section__title {
    max-inline-size: inherit;
  }

  .content-section {
    display: flex;
    flex-direction: column;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .gallery .section__title {
    inline-size: 100%;
  }


  .footer {
    padding: 10px;
  }
}

.header__theme-menu-button:hover {
  border-color: rgb(from var(--text-color) r g b / 0.4);
  transition: .2s;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--text-color);
}

.link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--main-text-color);
  transition: .2s;
}

.link:focus {
  outline: 1px solid var(--main-text-color);
}