:root {
  --main-font-family: 'IBM Plex mono', sans-serif;
  --text-bold: 700;
  --text-size: 18px;
  --title-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --title-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  
  --bg-image: url('/images/cover-image-light.png');
  --bg-color: #FF8DCB;
  --text-color: #353430;
  --text-accent-color: #353430;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url('/images/cover-image-dark.png');
    --bg-color: #000028;
    --text-color: #FF0070;
    --text-accent-color: #000028;
    --main-text-color: #F1B2CE;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
  }
}